<!-- Name: Nolan Berryhill
File: about.component.html
Description: HTML file for the about component
Date: 11/05/2023-->

<!-- Body of about -->
<div class="container">

  <div class="row">

    <!-- Image of composer-->
    <div class="col-md-3">

      <img src="https://github.com/nberryh/web-425/blob/main/week-3/enhanced-composer-app/src/assets/composer.png?raw=true" alt="composer">

      <!-- Image source for composer-->
      <p class="caption">Image Source: https://media.gettyimages.com/photos/photo-of-wolfgang-amadeus-mozart-picture-id86103752</p>
    </div>

    <!-- Background of the composer -->
    <div class="col-md-9">
      <p>Wolfgang Amadeus Mozart was a prolific and influential composer of the classical era. He was born in 1756
        in Salzburg, Austria, and showed extraordinary musical talent from an early age. His works include symphonies,
        operas, chamber music, and piano concertos. Mozart's music is characterized by its beauty, precision, and emotional depth.
        His compositions, such as "Eine kleine Nachtmusik" and "The Magic Flute," remain beloved classics in the world of classical music.
      </p>
    </div>
  </div>

</div>
